.now-playing-img {
	max-width: 40vmin;
	max-height: 40vmin;
	width: 100%;
}

.play-queue {
	max-height: 50vmin;
}

.queue-help {
	font-size: 1.1rem;
	font-style: italic;
	margin: 10px 0;
}

.play-queue-list {
	/* height: 60vmin; */
	max-height: 34vmin;
	overflow-y: auto;
}

.play-queue h1 {
	font-size: 2.25rem;
}

.room-carousel {
	min-height: 100px;
	width: 100%;
	margin: 0;
	padding: 0;
}

.room-avatar {
	margin: 25px 0;
	padding: 0;
}

.status-msg {
	font-style: italic;
}