.now-playing-img {
	max-width: 40vmin;
	max-height: 40vmin;
	width: 100%;
}

.play-queue {
	max-height: 50vmin;
}

.play-queue-list {
	/* height: 60vmin; */
	max-height: 34vmin;
	overflow-y: auto;
}

.play-queue h1 {
	font-size: 3vw;
}
