/* Layout */

/* Override defaults */
html,
body, 
.col {
  margin: 0;
  padding: 0;
}

/* Use viewport-relative units to cover page fully */
body {
  height: 100vh;
  width: 100vw;
}

/* Include border and padding in element width and height */
* {
  box-sizing: border-box;
}


/* Branding - Global Elements */

body {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  color:white;
  background-color: #171C20;
}

button {
  background-color: #FED402;
  color: black;
  margin: 20px 0 5px 0;
  padding: 5px 10px;
  border-style: none;
  border-radius: 8px;
}

button:hover {
  background-color: #171C20;
  color: white;
}


/* Branding - Brand Elements */

.brand-name {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 4rem;
  color: #2c2f33;
}

.brand-logo {
  height: 6rem;
  margin: 26px;
}

.backdrop {
  height: 50vh;
  width: 100%;
}