.login-div {
    margin: 50px auto;
    padding: 60px 40px;
    width: 60vw;
    height: 25vh;
    background-color: white;
    border-radius: 15px;
    color: black;
    opacity: 0.90;
}

.login.backdrop {
    padding: 78px;
    background: url('/images/yellow-backdrop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40% 85%;
    opacity: 0.96;
}