.login-div {
    margin: 50px auto;
    padding: 60px 40px;
    width: 80vw;
    height: 25vh;
    background-color: white;
    border-radius: 15px;
    color: black;
    opacity: 0.75;
}

.login-button {
    background-color: #EBA404;
    border-style: none;
    color: black;
    margin: 10px 0 5px 0;
}

.login.backdrop {
    padding: 40px;
}