h1.home-banner {
	color: #646a74;
	font-size: 3.5rem;
}

.welcome-brand {
	color: white;
	font-weight: 600;
}

.home.profile-pic {
	margin: 30px 0 9px;
}

.user-name {
	color: #fed402;
	opacity: 0.98;
	margin: 0 0 18px;
}

.home-carousel {
	width: 1140px;
	height: 440px;
	margin: auto;
}

.playlist-alert {
	width: 50%;
	position: absolute;
	left: 25%;
	top: 100px;
	z-index: 1;
}

.playlist-alert button {
	margin: 0;
	/* padding: 0; */
}
